@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Fira+Code:wght@300..700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  background-color: #0c1215;
  color: #e2e8f0;
  cursor: url('/src/assets/fish.png') 4 12, auto;
}

.roboto {
  font-family: 'Roboto', sans-serif;
}

.roboto-medium {
  font-weight: 500;
}

a {
  cursor: url('/src/assets/fish.png') 4 12, pointer;
}

input {
  cursor: url('/src/assets/fish.png') 4 12, pointer;
}

input::-webkit-slider-thumb {
  cursor: url('/src/assets/fish.png') 4 12, pointer;
}

input::-moz-range-thumb {
  cursor: url('/src/assets/fish.png') 4 12, pointer;
}

.fira-code {
  font-family: "Fira Code", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
